body{
    background: url(https://i.pinimg.com/564x/74/d2/f5/74d2f5252c70d58e2a68ad479b570ab0.jpg);
    text-align: center;
}
h1{
    color: #07d5fa;
}
}
button{
    padding: 15px 45px;
    color: rgb(13, 155, 105);
    border:4px solid rgb(6, 6, 116);
    border-radius: 30px;
    background: rgb(16, 183, 224);
}